<div class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/incentives">My Incentives</a></li>
        <li><a href="/updatelibrary">Add a Book to Library</a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="#" class="button primary fit">My Profile</a></li>
        <li><a href="/" class="button fit">Log Out</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
          </header>
          <!-- Content -->
          <div class="col-6 col-12-medium">
            <!-- Image -->
            <div class="box alt">
              <div class="row gtr-50 gtr-uniform">
                <% for(var i = userbooks.length - 1; i >= 0; i--) {%>
                <div class="col-4">
                  <span class="image fit">
                    <h3><%= userbooks[i].bookTitle %></h3>
                    <span><%= userbooks[i].bookAuthor %></span>
                    <span><%= userbooks[i].level %></span>
                    <img id="libraryImage" src="<%= userbooks[i].bookImage %>" alt="" />
                    <a class="bookId" href="/book/<%= userbooks[i]._id %>">EDIT</a>
                    <button class="trashButton" type="button" name="trash">Delete</button>
                  </span>

                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
