<div class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/updatelibrary">Add a Book to Library</a></li>
        <li><a href="/forum">See New Reads</a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="/profile" class="button fit">My Profile</a></li>
        <li><a href="/" class="button fit">Log Out</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">
      <section class="inner">
        <div class="">
          <div class="">
            <!-- Table -->
            <h3>Choose an Incentive</h3>
            <h3 class="bookSum" ><%= bookSum %></h3>
            <div class=" col-6 table-wrapper">
              <table class="col-6 col-12-medium">
                <thead>
                  <tr>
                    <th>Business</th>
                    <th>Coupon</th>
                    <th>Points</th>
                    <th>Select</th>
                    <th hidden>Id</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i <incentives.length; i++) {%>
                    <% if (incentives[i].selected !== true){%>
                  <tr>
                    <td><%= incentives[i].business %></td>
                    <td><%= incentives[i].coupon %></td>
                    <td><%= incentives[i].points %></td>
                    <td hidden><%= incentives[i]._id %></td>
                    <td>
                      <% if(bookSum > incentives[i].points){ %>
                        <button class="incentivesButton" type="button" name="incentiveButton">Select</button>
                      <% } %>
                    </td>
                  </tr>
                </tbody>
                  <% } %>
                <% } %>
              </table>
            </div>

            <h3>My Incentives</h3>
            <div class=" col-6 table-wrapper">
              <table class="col-6 col-12-medium">
                <thead>
                  <tr>
                    <th>Business</th>
                    <th>Coupon</th>
                    <th>Points</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < userIncentives.length; i++) {%>
                  <tr>
                    <td><%= userIncentives[i].business %></td>
                    <td><%= userIncentives[i].coupon %></td>
                    <td class="selectedincentive" ><%= userIncentives[i].points %></td>
                    <td>
                    </td>
                  </tr>
                </tbody>
                <% } %>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>
